<div class="col-sm-12 main">
    <h2 class="page-header">Services
        <small class="pull-right">
            <a href="" class="refresh glyphicon glyphicon-refresh"
               ng-class="{ 'refresh-on': controller.autoRefresh }"
               ng-click="controller.refresh(!controller.autoRefresh)"
               title="Automatic Refresh">
            </a>
            &nbsp;
            <i class="glyphicon glyphicon-filter"></i>
            <input type="text" ng-model="query"/>
        </small>
    </h2>

    <table class="table ng-cloak" ng-show="controller.services" ng-cloak>
        <thead>
        <tr>
            <th class="col-sm-2">Provider</th>
            <th class="col-sm-2">Category</th>
            <th class="col-sm-2">State</th>
            <th class="col-sm-3">Instance</th>
            <th class="col-sm-4">Actions</th>
        </tr>
        </thead>

        <tbody ng-repeat="service in controller.services | filter:query | orderBy:'uuid'"
               ng-class="{'row-selected' : controller.selectedResource == $index }">
        <tr class="vert-align" ng-class-even="'stripped'">
            <td class="pointer" ng-click="controller.toggle($index)">
                <img ng-src="{{ service | toLogo }}"
                     width="75px">
            </td>

            <td>
                {{ service.category }}
            </td>
            <td>
                <i class="fa fa-spin fa-spinner"
                   ng-show="service.attributes['action.state'] == 'pending'"></i>
                {{ service.attributes['occi.paas.state'] || service.attributes['occi.compute.state'] }}
            </td>
            <td class="vert-align">
                <a href="#/services/{{service.category}}/{{ service.uuid }}">
                    {{ service.attributes['occi.paas.application.endpoints']
                    || service.attributes['occi.compute.hostname']
                    || service['uuid'] }}
                </a>
            </td>
            <td>
                <a class="btn" title="{{ action.title | capitalize }}" href=""
                   ng-click="controller.action(service, action)" ng-repeat="action in service.actions"
                   ng-hide="(action.title | actionToIcon) == ''">
                    <i class="fa {{ action.title | actionToIcon}}"></i>
                </a>
                <a class="btn pull-right" title="Remove service" data-toggle="modal"
                   ng-click="controller.deleteService(service)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        <tr class="tree" ng-repeat="serviceLink in service.links"
            ng-show="controller.isToggled($parent.$index)">
            <td>
                <img ng-src="{{ serviceLink | toLogo }}"
                     width="75px">
            </td>

            <td>
                {{ serviceLink.category }}
            </td>
            <td>
                <i class="fa fa-spin fa-spinner"
                   ng-show="serviceLink.attributes['action.state'] == 'pending'"></i>
                {{ serviceLink.attributes['occi.paas.state'] || serviceLink.attributes['occi.compute.state']
                }}
            </td>
            <td class="vert-align">
                <a href="#/serviceLinks/{{serviceLink.category}}/{{ serviceLink.uuid }}">
                    {{ serviceLink.attributes['occi.paas.application.endpoints']
                    || serviceLink.attributes['occi.compute.hostname']
                    || serviceLink['uuid'] }}
                </a>
            </td>
            <td>
                <a class="btn" title="{{ action.title | capitalize }}" href=""
                   ng-click="controller.action(serviceLink, action)" ng-repeat="action in serviceLink.actions"
                   ng-hide="(action.title | actionToIcon) == ''">
                    <i class="fa {{ action.title | actionToIcon}}"></i>
                </a>
                <a class="btn pull-right" title="Remove service" data-toggle="modal"
                   ng-click="controller.deleteService(serviceLink)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</div>
