<div class="col-sm-12 main">

    <!--<ol class="breadcrumb">-->
    <!--<li><a href="#">Services</a></li>-->
    <!--<li class="active">{{ controller.service.uuid }}</li>-->
    <!--</ol>-->

    <div class="row">

        <h2 class="page-header">
            <a href="#/services" title="Back">
                Services</a>
            <small>/</small>
            {{
            controller.service.attributes['occi.paas.application.endpoints']
            || controller.service.attributes['occi.compute.hostname']
            || controller.service['uuid'] }}

            <a href="#/services" title="Back">
                <small class="pull-right glyphicon glyphicon-arrow-left"></small>
            </a>
        </h2>
    </div>

    <div class="row">
        <h3>Properties</h3>

        <form class="form" role="form">
            <div class="form-group"
                 ng-repeat="(key,value) in controller.service.attributes | orderBy:'key'">

                <label for="{{key}}" class="col-sm-6 col-md-3 col-lg-2 control-label-right">
                    {{config.attributes[key].label || key}}
                    <span style="color:#c7254e" ng-show="config.attributes[key].required">*</span>
                </label>

                <div class="col-sm-6 col-md-3 col-lg-2">
                    <input id="{{key}}" type="text" class="form-control"
                           value="{{value}}" ng-model="controller.service.attributes[key]" disabled>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <h3 class="">Links</h3>

        <table class="table table-striped ng-cloak" ng-show="controller.service.links" ng-cloak>
            <thead>
            <tr>
                <th>Provider</th>
                <th>Category</th>
                <th>State</th>
                <th>Instance</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tr class="ng-cloak vert-align"
                ng-repeat="service in controller.service.links | filter:query | orderBy:'uuid'">
                <td>
                    <img ng-src="{{ service | toLogo }}"
                         width="75px">
                </td>

                <td>
                    {{ service.category }}
                </td>
                <td>
                    <i class="fa fa-spin fa-spinner"
                       ng-show="service.attributes['action.state'] == 'pending'"></i>
                    {{ service.attributes['occi.paas.state'] || service.attributes['occi.compute.state'] }}
                </td>
                <td class="vert-align">
                    <a href="#/services/{{service.category}}/{{ service.uuid }}">
                        {{ service.attributes['occi.paas.application.endpoints']
                        || service.attributes['occi.compute.hostname']
                        || service['uuid'] }}
                    </a>
                </td>
                <td>
                    <a class="btn" title="{{ action.title | capitalize }}" href=""
                       ng-click="controller.action(service, action)" ng-repeat="action in service.actions"
                       ng-hide="(action.title | actionToIcon) == ''">
                        <i class="fa {{ action.title | actionToIcon}}"></i>
                    </a>
                    <a class="btn pull-right" title="Remove service" data-toggle="modal"
                       ng-click="controller.deleteService(service)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>
