<div class="col-sm-12 main">
    <h2 class="page-header">Services
        <small class="pull-right">
            <a href="" class="refresh glyphicon glyphicon-refresh"
               ng-class="{ 'refresh-on': controller.autoRefresh }"
               ng-click="controller.refresh(!controller.autoRefresh)"
               title="Automatic Refresh">
            </a>
            &nbsp;
            <i class="glyphicon glyphicon-filter"></i>
            <input type="text" ng-model="query"/>
        </small>
    </h2>

    <table class="table table-striped ng-cloak" ng-show="controller.services" ng-cloak>
        <thead>
        <tr>
            <th>Provider</th>
            <th>Category</th>
            <th>State</th>
            <th>Instance</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tr class="ng-cloak vert-align" ng-repeat="service in controller.services | filter:query | orderBy:'uuid'">
            <td>
                <img ng-src="{{ service | toLogo }}"
                     width="75px">
            </td>

            <td>
                {{ service.category }}
            </td>
            <td>
                <i class="fa fa-spin fa-spinner"
                   ng-show="service.attributes['action.state'] == 'pending'"></i>
                {{ service.attributes['occi.compute.state'] }}
            </td>
            <td class="vert-align">
                <a href="#/services/{{service.category}}/{{ service.uuid }}">
                    {{ service.attributes['occi.compute.hostname'] || service['uuid'] }}
                </a>
            </td>
            <td>
                <a class="btn" title="{{ action.title | capitalize }}" href=""
                   ng-click="controller.action(service, action)" ng-repeat="action in service.links"
                   ng-hide="(action.title | actionToIcon) == ''">
                    <i class="fa {{ action.title | actionToIcon}}"></i>
                </a>
                <a class="btn pull-right" title="Remove service" data-toggle="modal"
                   ng-click="controller.deleteService(service)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
