<div class="col-sm-12 main" ng-controller="ServicesCtrl as controller">
    <h2 class="page-header">Services
        <small class="pull-right">
            <i class="glyphicon glyphicon-filter"></i>
            <input type="text" ng-model="query"/>
        </small>
    </h2>

    <table class="table table-striped ng-cloak" ng-show="controller.services" ng-cloak>
        <thead>
        <tr>
            <th></th>
            <th>Category</th>
            <th>State</th>
            <th>Instance</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tr class="ng-cloak" ng-repeat="service in controller.services | filter:query | orderBy:'uuid'">
            <td>
                <img ng-src="{{ service | toLogo }}"
                     width="75px">
            </td>

            <td>
                {{ service.category }}
            </td>
            <td>
                {{ service.attributes['action.state'] }}
            </td>
            <td>
                <a href="#/services/{{service.category}}/{{ service.uuid }}">{{ service['uuid'] }}</a>
            </td>
            <td>
                <!--<a class="btn btn-warning">Stop</a>-->
                <a class="btn" title="Remove service" data-toggle="modal"
                   ng-click="controller.deleteService(service)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
