.nav-sidebar > li > ul > li > a {
    padding-right: 40px;
    padding-left: 40px;
}

.navbar {
    background-color: #FFFFFF;
}

.btn-group {
    margin: 2px;
}

.form-horizontal .control-label{
    text-align:left;
}

.templates a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}


a, a:visited {
    text-decoration:none;
    color:#5c96bc !important;
    border-radius:0.2em;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
}

a:hover {
    color:#E87224 !important;
}
