.nav-sidebar > li > ul > li > a {
    padding-right: 40px;
    padding-left: 40px;
}

.navbar {
    background-color: #FFFFFF;
}

.navbar-nav.navbar-right:last-child {
    margin-top: 7px;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #5c96bc;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #5c96bc;
}

.navbar-default .navbar-brand {
    color: #5c96bc;
}

.btn-group {
    margin: 2px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .control-label-right {
    text-align: right;
}

.templates a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

a, a:visited {
    text-decoration: none;
    color: #5c96bc;
    border-radius: 0.2em;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
}

a:hover {
    color: #E87224 !important;
}

.refresh {
    color: #999 !important;
}

.refresh-on {
    color: #E87224 !important;
}

.table > tbody > .vert-align > td {
    vertical-align: middle;
}

.table > tbody > .tree  > td {
 padding-left: 50px;
}

.table > tbody + tbody {
    border-top: 0;
}

.row-selected {
    background-color: #dff3ff;
}
.row-selected > tr {
    background-color: #dff3ff;
}

.stripped {
    background-color: #f9f9f9;
}

.pointer {
    cursor: pointer;
}